.LoginPopup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.Login-popup-content{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.Login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.Login-popup-content img{
    cursor: pointer;
    width: 16px;
}

.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;

}

.Login-popup-content button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: tomato;
    cursor: pointer;
    font-size: 15px;
}

.login-popup-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input{
    margin-top: 5px;
    cursor: pointer;
}

.LoginPopup p span{
    color: tomato;
    cursor: pointer;
    font-weight: 500;
}