.header {
    height: 43vw;
    margin: 0 auto; /* Centers the header horizontally */
    margin-top: -250px; /* Adjust this value to reduce the top margin */
    background: url('../../assets/bgg.png') no-repeat;
    background-size: cover;
    border-radius: 40px;
    position: relative;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; 
    z-index: -100;/* Centers content vertically */
}

.header-contents{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:25px;
    max-width: 50%;
    bottom: 30%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size:70px;
}

.header-contents p{
    color: white;
    font-size: 1vw;

}

.header-contents button{
    border: none;
    color:#747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

@media(max-width:1050px){

    .header-contents{
        max-width: 45%;
    }
}
@media(max-width:750px){
 
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;

    }

    .header-contents button{
        padding: 2vw 4vw;
    }
}