

.food-card-container {
    
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.food-card-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.food-card-container img {
    width: 100%;
    height: auto;
    display: block;
}

.upper-info{
    margin:  10px 0;
    
    display: flex;
    gap: 9px;
    align-items: center;
    justify-content: space-between;
}

.upper-info p{
    font-size: 20px;
    font-weight: 500;
}

.upper-info img{
    width: 70px;
}

.lower-info p{
    color:#676767;
    font-size: 12px;
}

h2{
    color: tomato;
    margin-top: 8px;
}

.lower-info{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.icon-white img{
    width: 50px;
     bottom: 10px;
    right: 11px;
    position: absolute;
}

.add-remove-item{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    bottom: 10px;
    right: 11px;
    color: black;
    font-weight: 700;
}
.add-remove-item img{
    width: 35px;
}

.food-item-image{
    position: relative;
}


